<% include ./layout.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <div class="container row">    
            <br>
            Welcome to BookStore
          </div>
          <hr>
        </div>
      </div>                                              
   	</div><!--/col-12-->
  </div>
</div>

<% include ./footer.ejs %>