<% include ./layout.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <div class="panel">
        <div class="panel-body">
          <!--/stories-->
          <div class="container row">    
            <br>
            <h1>LOGIN</h1><hr>
            <form action="/auth/login" method="post" name="signinform">
                Username: <input name="username" id="username"><br><br>
                Password: <input name="password" id="password"><br><br>
                <input class="btn btn-primary" type="submit" value="submit" >
            </form>
          </div>
          <hr>
        </div>
      </div>                                              
   	</div><!--/col-12-->
  </div>
</div>

<% include ./footer.ejs %>